<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
</head>

<body class="{% if page.body_class %}{{ page.body_class }}{% else %}type-home{% endif %}">
    <header>
        <div class="overlay">
            <div class="home">
                <a href="{{ '/' | relative_url }}">Toma Itagaki</a>
            </div>

            <nav>  
                <a href="{{ '/writing/' | relative_url }}"{% if page.url contains '/writing/' %} class="active"{% endif %}>Writing</a>
                <!-- <a href="/projects/">Projects</a> -->
                <a href="{{ '/research/' | relative_url }}"{% if page.url contains '/research/' %} class="active"{% endif %}>Research</a>
                <a class="desktop" href="https://twitter.com/tomaitagaki">Tweets</a>
            </nav>
        </div>
    </header>

    <main aria-role="main">
        {{ content }}
    </main>
</body>
</html> 